In [1]:
import pandas as pd
from termcolor import colored as cl 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/MyDrive/suraj/rds_cpu_utilization_cc0c53.csv')

In [3]:
df.isnull().values.any()

False

In [4]:
from sklearn import preprocessing
df['value'] = preprocessing.scale(df['value'])
df

             timestamp     value  IsAnomaly
0     14/02/2014 14:30 -0.453498          0
1     14/02/2014 14:35 -0.628741          0
2     14/02/2014 14:40 -0.504976          0
3     14/02/2014 14:45 -0.628741          0
4     14/02/2014 14:50 -0.616145          0
...                ...       ...        ...
4027  28/02/2014 14:10  2.038428          0
4028  28/02/2014 14:15  1.744513          0
4029  28/02/2014 14:20  2.016522          0
4030  28/02/2014 14:25  1.596652          0
4031  28/02/2014 14:30  2.038428          0

[4032 rows x 3 columns]

In [5]:
x = df

In [6]:
x

             timestamp     value  IsAnomaly
0     14/02/2014 14:30 -0.453498          0
1     14/02/2014 14:35 -0.628741          0
2     14/02/2014 14:40 -0.504976          0
3     14/02/2014 14:45 -0.628741          0
4     14/02/2014 14:50 -0.616145          0
...                ...       ...        ...
4027  28/02/2014 14:10  2.038428          0
4028  28/02/2014 14:15  1.744513          0
4029  28/02/2014 14:20  2.016522          0
4030  28/02/2014 14:25  1.596652          0
4031  28/02/2014 14:30  2.038428          0

[4032 rows x 3 columns]

In [7]:
x = x.drop('IsAnomaly', axis = 1)
x = x.drop('timestamp', axis = 1)

In [8]:
df

             timestamp     value  IsAnomaly
0     14/02/2014 14:30 -0.453498          0
1     14/02/2014 14:35 -0.628741          0
2     14/02/2014 14:40 -0.504976          0
3     14/02/2014 14:45 -0.628741          0
4     14/02/2014 14:50 -0.616145          0
...                ...       ...        ...
4027  28/02/2014 14:10  2.038428          0
4028  28/02/2014 14:15  1.744513          0
4029  28/02/2014 14:20  2.016522          0
4030  28/02/2014 14:25  1.596652          0
4031  28/02/2014 14:30  2.038428          0

[4032 rows x 3 columns]

In [9]:
x

         value
0    -0.453498
1    -0.628741
2    -0.504976
3    -0.628741
4    -0.616145
...        ...
4027  2.038428
4028  1.744513
4029  2.016522
4030  1.596652
4031  2.038428

[4032 rows x 1 columns]

In [10]:
y = df

In [11]:
y = y.drop('timestamp', axis = 1)

In [12]:
y = y.drop('value', axis = 1)

In [13]:
y

      IsAnomaly
0             0
1             0
2             0
3             0
4             0
...         ...
4027          0
4028          0
4029          0
4030          0
4031          0

[4032 rows x 1 columns]

In [14]:
df1 = pd.read_csv('/content/drive/MyDrive/suraj/rds_cpu_utilization_e47b3b.csv')

In [15]:
df1.isnull().values.any()

True

In [16]:
df1 = df.apply (pd.to_numeric, errors='coerce')
df1 = df.dropna()

In [17]:
df1.isnull().values.any()

False

In [18]:
x1 = df1

In [19]:
x1 = x1.drop('IsAnomaly', axis = 1)

In [20]:
x1 = x1.drop('timestamp', axis = 1)

In [21]:
y1 = df1

In [22]:
y1 = y1.drop('timestamp', axis = 1)

In [23]:
y1 = y1.drop('value', axis = 1)

In [24]:
x1

         value
0    -0.453498
1    -0.628741
2    -0.504976
3    -0.628741
4    -0.616145
...        ...
4027  2.038428
4028  1.744513
4029  2.016522
4030  1.596652
4031  2.038428

[4032 rows x 1 columns]

In [25]:
y1

      IsAnomaly
0             0
1             0
2             0
3             0
4             0
...         ...
4027          0
4028          0
4029          0
4030          0
4031          0

[4032 rows x 1 columns]

In [26]:
from sklearn.svm import SVC
model = SVC()
model.fit(x, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [27]:
target = model.predict(x1)
target

array([0, 0, 0, ..., 0, 0, 0])

In [28]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y1,target))

[[4030    0]
 [   1    1]]

In [29]:
print(cl(classification_report(y1, target), attrs = ['bold']))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4030
           1       1.00      0.50      0.67         2

    accuracy                           1.00      4032
   macro avg       1.00      0.75      0.83      4032
weighted avg       1.00      1.00      1.00      4032

In [30]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y1, target))

Accuracy: 0.9997519841269841